/* Fonts */

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Reset styles */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Global styles */

:root {
  --white: #FFF;
  --blue: #3F2AFF;
  --grey: #666;
}

.list-reset {
  padding: 0;
  margin-bottom: auto;
  margin-top: auto;
  list-style-type: none;
}

.title {
  margin: 0;
  font-weight: 700px;
  line-height: 1em;
}

.desc {
  margin: 0;
  line-height: 1.5em;
}

.btn {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17em;
  color: var(--white);
  background: var(--blue);
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

@media (max-width: 400px) {
  .btn {
    font-size: 16px;
  }
}

/* Header styles */

.header {
  padding: 29px 0 30px 0;
  background-color: var(--blue);
}

.header__container {
  display: flex;
  align-items: inherit;
}

.header__logo-link {
  display: flex;
  margin-right: auto;
}

.header__logo-icon {
  margin: 0 auto;
  width: 94px;
  height: 21px;
  fill: var(--white);
}

.header__nav {
  color: var(--white);
  overflow-y: auto;
}

.header__nav-list {
  display: flex;
  column-gap: 56px;
}

.header__nav-link {
  font-size: 18px;
  line-height: 1.17em;
}

@media (max-width: 767px) {
  .header__container {
    flex-direction: column;
  }

  .header__logo-link {
    margin: 0 0 30px 0;
  }
}

/* Hero section styles */

.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}

.hero__left-side {
  padding-top: 130px;
  padding-bottom: 130px;
}

.hero__title {
  margin-bottom: 30px;
  font-size: 60px;
  color: var(--white);
}

.hero__desc {
  margin-bottom: 70px;
  max-width: 444px;
  font-size: 18px;
  color: var(--white)
}

.hero__btn {
  padding: 24px 75.5px;
}

.hero__right-side {
  background-image: url("../img/hero/hero-img.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1199px) {
  .hero__right-side {
    background-image: url("../img/hero/hero-img-992.png");
  }
}

@media (max-width: 991px) {
  .hero__title {
    font-size: 50px;
  }

  .hero__left-side {
    padding-top: 0;
    padding-left: 0;
  }

  .hero__wrapper {
    padding-top: 130px;
  }

  .hero__right-side {
    background-size: 311px 342px;
    background-position: top;
  }
}

@media (max-width: 576px) {
  .hero__left-side {
    padding-left: 15px;
  }
}

@media (max-width: 400px) {
  .hero__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .hero__desc {
    margin-bottom: 50px;
  }

  .hero__wrapper {
    padding-top: 50px;
  }

  .hero__left-side {
    padding-bottom: 50px;
  }

  .hero__btn {
    padding: 20.5px 53.5px;
  }
}

/* About section styles */

.about {
  padding: 80px 0;
}

.about__advantages {
  padding-left: 190px;
  margin-bottom: 30px;
  background-image: url("../img/about/about-img.png");
  background-position: left center;
  background-size: 160px 142px;
  background-repeat: no-repeat;
}

.about__text-wrapper {
  max-width: 582px;
}

.about__title {
  margin-bottom: 30px;
  font-size: 40px;
  color: #2E2B44;
}

.about__desc {
  color: var(--grey);
}

.about__advantages-list {
  display: flex;
  row-gap: 30px;
}

.about__advantages-item {
  display: flex;
  align-items: center;
}

.about__advantages-item-icon {
  margin-right: 30px;
}

.about__advantages-item-text {
  line-height: 1.2em;
  color: var(--grey);
}


@media (max-width: 991px) {
  .about__advantages-item {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .about__advantages-item-icon {
    margin: 0 0 15px 0;
  }

  .about__advantages {
    padding-left: 240px;
    background-size: 211px 187px;
    background-position: left top;
  }
}

@media (max-width: 767px) {
  .about__advantages {
    padding-left: 180px;
    background-size: 150px 134px;
  }
}

@media (max-width: 576px) {
  .about__advantages {
    background-image: none;
    padding-left: 0;
  }
}

@media (max-width: 400px) {
  .about {
    padding: 50px 0;
  }

  .about__title {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .about__advantages-item {
    flex-direction: row;
  }

  .about__advantages-item-icon {
    margin: 0 30px 0 0;
  }
}

/* Teachers section styles */

.teachers {
  padding: 80px 0;
  background-color: #212133;
}

.teachers__title {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 1em;
  color: var(--white);
}

.teachers__list {
  display: flex;
  row-gap: 30px;
}

.teachers__picture {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 0;
}

.teachers__portrait {
  height: 100%;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 20px 20px 0px 0px;
}

.teachers__name {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
}

.teachers__summary {
  color: #85859B;
}

@media (max-width: 400px) {
  .teachers {
    padding: 50px 0;
  }

  .teachers__title {
    font-size: 20px;
  }
}

/* Courses section styles */

.courses {
  padding: 80px 0;
}

.courses__title {
  margin-bottom: 30px;
  font-size: 40px;
  color: #212133;
}

.courses__list {
  display: flex;
  row-gap: 30px;
}

.courses__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 480px;
  height: 100%;
  padding: 210px 30px 30px 30px;
  background-color: #EDF0F9;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.courses__wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 13px;
  right: 20px;
}

.courses__wrapper_first::after {
  background: url("../img/courses/courses-60h-icon.png") no-repeat right top;
}

.courses__wrapper_second::after {
  background: url("../img/courses/courses-40h-icon.png") no-repeat right top;
}

.courses__wrapper_third::after {
  background: url("../img/courses/courses-40h-icon.png") no-repeat right top;
}

.courses__wrapper_fourth::after {
  background: url("../img/courses/courses-80h-icon.png") no-repeat right top;
}

.courses__wrapper_first {
  background-image: url("../img/courses/courses-img-1.jpg");
}

.courses__wrapper_second {
  background-image: url("../img/courses/courses-img-2.jpg");
}

.courses__wrapper_third {
  background-image: url("../img/courses/courses-img-3.jpg");
}

.courses__wrapper_fourth {
  background-image: url("../img/courses/courses-img-4.jpg");
}

.courses__subtitle {
  margin-bottom: 15px;
  font-size: 18px;
  color: #212133;
}

.courses__desc {
  margin-bottom: 30px;
  color: var(--grey);
}

.courses__btn {
  margin-top: auto;
  padding: 20.5px 59px;
}

@media (max-width: 767px) {
  .courses__btn {
    padding: 20.5px 48px;
  }
}

@media (max-width: 400px) {
  .courses {
    padding: 50px 0;
  }

  .courses__title {
    font-size: 20px;
  }
}

/* Footer styles */

.footer__top-side {
  padding: 30px 0;
  background-color: #2E2B44;
}

.footer__container {
  margin: 0 auto;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 34px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 3px;
  font-size: 13px;
  line-height: 1.15em;
  color: #2E2B44;
}

.footer__copyright_blue {
  color: var(--blue);
}
